<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Venera Bio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/home_header.css">
    <link rel="stylesheet" href="/static/css/button-styles.css">
    <link rel="stylesheet" href="/static/fonts/Helvetica/fonts.css">
    <!-- <script type="module" src="/static/js/KeyNav/KeyNav.js"></script> -->
</head>
<body class="KeyNav">
    <div class="container leftSpace">
        <div class="header">
            <div class="topSpace"></div>
            <div class="pageHeader">
                <div class="pageTitle">Venera.bio</div>
                <br/>
                <div class="pageSubtitle">A Programming Language</div>
            </div>
        </div>
        <div>
            <br/>
            <img src="static/img.png">
            <div class="pageSubtitle">A Programming Language</div>
        </div>
        <button>
            <span>Purchase</span>
            <div class="icon"><span></span></div>
        </button><br/>
    </div>
</body>
</html>
