<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Biological Age Test Kit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/home_header.css">
    <link rel="stylesheet" href="/static/css/button-styles.css">
    <link rel="stylesheet" href="/static/fonts/Helvetica/fonts.css">
    <link rel="stylesheet" href="/static/css/slider.css">
    <link rel="stylesheet" href="/static/css/purchase-form.css">

</head>
<body class="KeyNav">
    <div class="container leftSpace">
        
        <!-- Header -->
        <div class="header">
            <div class="topSpace"></div>
            <div class="pageHeader">
                <div class="pageTitle">Biological Age Test Kit</div>
                <br/>
                <div class="pageSubtitle">Understand Your Body Better</div>
            </div>
        </div>
        
        <div class="slider" id="slider">
            <div class="slider-wrapper"> <!-- New wrapper element -->
                <img src="/static/img.png" class="slider-image">
                <img src="/static/img.png" class="slider-image">
                <img src="/static/img.png" class="slider-image">
            </div>
        
            <div class="slider-controls">
                <button class="slider-btn prev" aria-label="Previous slide">&#10094;</button>
                <button class="slider-btn next" aria-label="Next slide">&#10095;</button>
            </div>
        </div>
        
        
        <div class="product-description">
            <h2>Product Description</h2>
            <p>Discover your biological age with our comprehensive blood test kit. Our advanced analysis provides you with a detailed report, helping you to track your health and wellness over time.</p>
        </div>
        
        <form class="purchase-form">
            <input type="email" placeholder="Email" name="email" required>
            <input type="text" placeholder="First Name" name="first_name" required>
            <input type="text" placeholder="Last Name" name="last_name" required>
            <textarea placeholder="Address" name="address" required></textarea>
            <textarea placeholder="Comments" name="comments"></textarea>
            <button type="submit" class="buy-button">Buy Now</button>
        </form>
        
    </div>
    <script src="/static/js/slider.js"></script>
</body>
</html>
